.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.lbl {
  font-weight: bold;
}

.lbl:after {
  content: ": ";
}

.mb {
  margin-bottom: 20px;
}

.mt {
  margin-top: 20px;
}

.add-fab {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.sidenav li > a {
  border-bottom: solid 2px rgba(0, 128, 128, 0.2);
}

.sidenav-close.active {
  background-color: rgba(0, 128, 128, 0.1);
}

.checkboxes .grid {
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
  }
}

@media only screen and (min-width: 992px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  nav .brand-logo {
    position: static;
    padding-left: 0.5rem;
  }

  button.sidenav-trigger {
    display: none;
  }
}
