@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap");

body {
  margin: 0;
}

body,
button {
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.lbl {
  font-weight: bold;
}

.lbl:after {
  content: ": ";
}

.mb {
  margin-bottom: 20px;
}

.mt {
  margin-top: 20px;
}

.add-fab {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

@media only screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
  }
}

@media only screen and (min-width: 992px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  nav .brand-logo {
    position: static;
    padding-left: 0.5rem;
  }
}
